$lt-gray: #ddd;
$background-dark: #414141;
$background-light: #707070;
$background-pale: #c0c0c0;

// Height variables
$carousel-item-height: 250px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0 auto;
	padding: $pad-up-dn $pad-left-right;
}

body {
	padding: 50px 0 0 0;
	z-index: 0;
}

.navbar-dark {
	background-color: $background-dark;

	#loginButton {
		cursor: pointer;
	}
}

.row-header {
	@include zero-margin(0, 0);
}

.row-content {
	@include zero-margin(50px, 0);
	border-bottom: 1px ridge;
	min-height: 400px;
}

.jumbotron {
	@include zero-margin(70px, 30px);
	background: $background-light;
	color: floralwhite;
}

.carousel {
	background: $background-dark;

	.carousel-item {
		height: $carousel-item-height;

		img {
			left: 0;
			top: 0;
			position: absolute;
			min-height: 250px;
		}
	}
}

#carouselButton {
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

.modal {
	.modal-header {
		background-color: $background-dark;
		color: floralwhite;
	}

	.modal-body {
		background-color: $background-pale;
	}

	button {
		color: floralwhite;
	}
}

.tab-content {
	border-left: 1px solid $lt-gray;
	border-right: 1px solid $lt-gray;
	border-bottom: 1px solid $lt-gray;
	padding: 10px;
}

.footer {
	background-color: $background-pale;
	@include zero-margin(20px, 0);
}

address {
	font-size: 80%;
	margin: 0;
	color: #0f0f0f;
}
